.classlist{
    background-color: whitesmoke;
    border-radius: 5px;
    height: 93vh;
    width: 330px;
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    font-family: "Trebuchet MS";
}

.classlist h1{
    color: black;
    text-align: center;
    font-family: "Trebuchet MS";

}

.classlist h2{
    color: black;
    text-align: center;
    margin: 0.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: darkgrey;  
    border-radius: 5px;
    font-family: "Trebuchet MS";
}