.classlist {
    background-color: whitesmoke;
    height: 90%;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
overflow-y: scroll;

}

.names {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    width: 95%;
    padding-left: 5%;
    border-radius: 5px;
    
}

.names button {
    border: none;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px black ;
}

.examplehighlight {
    background-color: #73a5c6;
}

.lessthan { 
background-color: rgba(255, 0, 0, 0.2);
}

.morethan {
background-color: rgba(0, 255, 221, 0.2);
}