
.container{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    margin: 100px auto;
}

.box{
    max-width: 14%;
    max-height: 40vh;
    margin:0 40px;
    box-shadow: 0 0 30px 3px #C66DFD;
    border-radius: 50px;
    text-align: center;
     color: black;
 

}

.box p {
   
     font-family: "Reem Kufi";
    font-size: 1.6rem;
    margin-top: 1rem;
}

.box img{
    display: block;
    width: 100%;
    border-radius: 50px;
    height: 100%; 
    
}

.box:hover{
    transition-duration: 1.5s;
    transform: scale(1.2);
    z-index: 2;
    color: white;
}

  


  