.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Trebuchet MS";
    background-color: #36465d ;
    width: 100vhw;
    height: 100vh;
    padding-top: 20%;
}

.rightside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

