.progressbar {
  width: 80%;
  margin: 3rem auto 0;
}

.progressbar img {
  transform: rotate(45deg);
}

.dayCount {
  display: flex;
  justify-content: space-between;
  font-family: "Reem Kufi";
}

@media only screen and (max-width: 600px) {
  .progressbar {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 90%;
  }
  .progressbar img {
    transform: rotate(-45deg);
  }
  .dayCount {
    display: flex;
    flex-direction: row;
    height: 95%;
    width: 100%;
    justify-content: space-between;
  }
  .day1, .day2, .day3, .day4, .day5, .day6 {
      display: none;
  }
}
