.window{
    
        height: 624px;
        width: 1024px;
        margin: 10rem 65rem;
        padding: 0.25rem 0.25rem;
        font-size: 1.3rem;
        border-radius: 50px;
        background-color: #C66DFD;
        
    
}

.pageBody {
    display: flex;
}

.newBookButton {
    
}