.teachernavbar {
    display: flex;
    justify-content: space-between;
    
}



.home{
    display:flex;
    justify-content: center;
    text-align: center;
    padding-top: 7%;
    width: 150%;
    height: 40%;
    margin-left: 350%;
    margin-top: 20%;
    
    
}

.logout{
    display:flex;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    width: 150%;
    height: 40%;
    margin-top: 40%;
    margin-left: -50%;
}
