.teacherdashboard {
    background-color: white;
    height: 81.5%;
    color: black;
}

.dashboard div {
    background-color: red;
    width: 25%;
    height: 25%;
}




/* .mainbox{
    width: 80rem;
    height: 50rem;
    border-radius: 5px;
    
}
.grid{
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
} */