.teacherdashboard {
    background-color: #d3d3d3;
    height: 81%;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px;
    
}

.timesreadcontainer {
    background-color: gainsboro;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px;
    margin-top: -2%;
    
    
}

.bottomsection {
    padding-top: 5%;
    border-radius: 5px;
    margin-top: -4%;
    
}

.squarecontainers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px;
    
}

.topcontainers {
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px;
    padding-bottom: 2%;
    margin-top: 1%;    
}
.pages{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px 2px ;
    margin-top: 2%;
    margin-left: 2%;
    width: 45%;

}

.minutes{
    background-color: white;
    border-radius: 5px;
    box-shadow:  0 0 3px 2px;
    margin-top: 2%;
    margin-right: 2%;
    width: 45%
}

.bottomcontainers {
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding-bottom: 1%;
    margin-top: 1%;
    box-shadow: 0 0 2px 2px ;
}

.finished{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px ;
    margin-top: 1%;
    margin-left: 2%;
    width: 45%;
}

.bottomcontainers button{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 25%;
    padding-top: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 10%;
    margin-left: 15%;
    font-size: xx-large;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px black;
}



