.teacherinfo {
  background-color: #d3d3d3;
  height: 81.5%;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.timesreadcontainer {
  background-color: white;
}

.bottomsection {
  padding-top: 5%;
}

.squarecontainers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.topcontainers {
  display: flex;
  justify-content: space-between;
}

.bottomcontainers {
  display: flex;
  justify-content: space-between;
}

/* .mainbox{
    width: 80rem;
    height: 50rem;
    border-radius: 5px;
    
}
.grid{
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
} */
