.teachernavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.leftSide h1 {
    margin: 1rem;
}

.rightSide {
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
}

.home, .moreinfo, .logout{
    text-align: center;
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 5px;
    font-size: 1rem;
   
}


    

