.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(49, 61, 139);
    min-height: 100vh;
}

.leftside {
    width: 25%;
}

.rightside {
    display: flex;
    flex-direction: column;
   width: 70%;
   margin: 0 auto;
}

