.teachernavbar {
    display: flex;
    justify-content: space-between;
    
}

.teachernavbar button {
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}





/* .navbar{
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS';
    color: red;
    

}

.buttons{

} */